/* desktop view */
.about-page {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  background-color: rgb(246, 246, 246);
  height: 100vh;
}
.mobile-only{
  display: none;
}
.about-section {
  padding-top: 3rem;
  text-align: justify;
}

.about-para p {
  line-height: 2;

  width: inherit;
  margin-top: 1rem;
}
.about-section h1,
.about-section h2 {
  text-align: left;
}

.about-info {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.about-logo img {
  margin-right: 3rem;
  height: 5rem;
  width: 16rem;
}
.about-text {
  line-height: 0.2;
}

.about-text a {
  text-decoration: none;
}

/* Media query for mobile screens */
 @media screen and (max-width: 768px) {
  .about-page {
  display: flex;
  justify-content: center;
margin: 0;
  background-color: rgb(246, 246, 246);
  height: 100vh;
}
.mobile-only{
  text-align: center;
  padding-bottom: 2rem;
  display: block;
}
.layout{
  margin-top: 0;
}
.about-section {
  padding-top: 2rem;
  text-align: justify;
}
.about-para p {
  line-height: 1rem;

  width: inherit;
  margin-top: 1rem;
}

.about-info {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.about-logo img {
  margin-right: 2rem;
  height: 2rem;
  width: 5rem;
}
.about-text {
  line-height: 0.2;
}

.about-text a {
  text-decoration: none;
}
h1{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
}

} 
