@media screen and (max-width: 768px) {
  .house-form-page {

    /* background-image: url(../img_background@3x.png); 
    background-size: cover;  */
    background-image: none;
    width:100vw;
    
  }

  .house-form-layout {
    max-width: max(800px, 80%);  
    padding: 0 1rem; 
  
  }
  .edit-listing-container {
    width: auto; 
    
  }

  .navigation-bar {
    height: auto; 
    padding: 1rem 0; 
   
  }

  .back-icon img {
    height: 16px;
     /* Adjust image size if necessary */
  }

  .form {
    max-width: 100%; 

    padding-bottom: 1rem; 
   
  }

  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="file"],
  .form-group select,
  .form-group #description {
    width: calc(100% - 40px);
     /* Adjust width to account for padding */
    padding: 10px; 
    /* Adjust padding to be smaller on mobile */
    margin: 0; 
    /* Reset any margin if necessary */
  }


  .sub-details {
    flex-direction: column; 
    /* Stack the child elements vertically */
  }

  .sub-details-group-left,
  .sub-details-group-right {
    flex-basis: 100%; 
    /* Allow these elements to take the full width */
    margin: 0; 
    /* Reset margin to align with other elements */
  }

  .submit-button {
    width: 100%; 
    /* Full width button for mobile */
    position: relative;
     /* Adjust position to be relative */
    margin-top: 1rem; 
    /* Add margin top to separate it from the form */
    height: 3rem; 
    /* Adjust the height of the button */
  }
}


.house-form-page{
  
   margin-top:5%; 
  background-image: url(../img_background@3x.png);

  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  width:100vw;
  height: 100;
  }

  .house-form-layout {
  margin: 0 auto;
 max-width: max(800px, 80%); 
 
  text-align: left;


}
  .edit-listing-container {
  
    
       width:500px;

  }
  .navigation-bar{

    width:100%;
    height: 5rem;
    padding-top: 1rem;
    
    
    } 
    .navigation-content{
    
     
    padding:0;
    margin: 0;
      height: 6rem;
   
    
    }
    .back-icon {
     background: none;
     border: none;
     cursor: pointer;
    }
    
    
    
    .back-icon img{
     height: 1.5rem;
    
    } 
    .back-button{
      margin-left: 1rem;

    }
.form{
  /* background-color: #00ff8c; */
  max-width: 90%;
  padding-bottom: 70px;
  position: relative;
}
  .form-group {
    padding-bottom: 10px;
   
    /* background-color:violet; */
 
    padding-top: 10px;
  }
  
  .form-group label {
    display: block;
    padding-bottom: 20px;
  }
 
  
  .input-placeholder::placeholder {
  color: #c0c0c0;
  opacity: 1; 
  
  }
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="file"] 
 {
   
    width:90%;
    padding:20px 20px ;
    border-radius: 10px;
    padding-right:5%;
    padding-left:5%;
    border:none;
  }
  .sub-details{
    display: flex;
    width:100%;
     }

  .sub-details-group-left{
 
    flex-basis:48%;
    
  }
  .sub-details-group-right{
    flex-basis:48%;
   margin-left:5%;
    
  }
 
  .sub-details-group-right select
  {
        
    width:100%;
    padding:20px 20px ;
    border-radius: 10px;
    
         border: none;
    border-radius: 10px;

  }
  .form-group #description {
 border: none;
    border-radius: 10px;
   width:90%;  
   padding:20px 20px ;
    border-radius: 10px;
    padding-right:5%;
    padding-left:5%;
    
} 

.custom-file-upload {
  display: block;
  cursor: pointer;

}
.form-group-image{
  width: 180px;
 padding-bottom: 20px;
 
}
.upload-text {
  display: block;
  padding-bottom:20px;
  width: 300px;
}

.upload-box {
  border: 2px dashed #ccc;
  
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  
  
}

.upload-icon img{
  height:40px;
}

input[type="file"] {
  display: none; /* Hide the default input */
}
.image-preview{
  width: 170px;
  height: 170px;
  position: relative;
}
 .image-upload {
  margin-right:20px;
  height: 150px;
  width:150px;
  display: block;
  border-radius: 10px;
}

 .clear-icon{
    height: 40px;
    width: 40px;
    position: absolute;
  top: 0;
  background-color: transparent; 
  border: none;
  right: 5px;
   
  }
  button{
    background-color: transparent; 
    border: none;
  }
  .submit-button {
  position: absolute;
      background: rgb(235,84,64);
    color: white;
    border: none;
      right: 0px;
    border-radius: 10px;
    cursor: pointer;
    width:200px;
 height: 50px;

   
  }
  .empty{
    color:rgb(235,84,64);

  }
  .border-red {
    border: 1px solid rgb(235,84,64);
  }
