.houses-page-mobile {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 246, 246);
  width: 100%;
}
.layout-mobile {
  max-width: max(800px, 80%);
  margin: 0 auto;
  /* background-color: blueviolet; */
  height: 100%;
  width: 100%;
  margin-bottom: 5rem;
}
.top-bar-mobile {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.heading-mobile {
  display: flex;
  margin-top: 1rem;
}
.heading-mobile h1 {
  margin: auto;
  padding-left: 3rem;
}

.create-new-btn-mobile img {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
}
.sorting-mobile {
  width: 100%;
  /* background-color: green; */
}
.search-barInput-mobile {
  margin-top: 20px;
  background-color: rgba(232, 232, 232);
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;

  display: flex;
  align-items: center;
}
.search-icon-mobile {
  height: 20px;
  width: 20px;
}
.search-bar-mobile::placeholder {
  color: rgb(195, 195, 195);
}
.search-bar-mobile {
  flex-grow: 1;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}
.search-result-mobile {
  text-align: left;
  width: 300px;
  height: 60px;
}
.clear-class-mobile {
  cursor: pointer;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.clear-class-mobile[style*="display: none;"] {
  display: none;
}
.sort-buttons-mobile {
  margin-top: 20px;
  display: flex;
  align-items: center;
  /* width: 300px; */
  /* background-color: orange; */
  height: 50px;
}
.sort-btn-price-mobile,
.sort-btn-size-mobile {
  flex-basis: 50%;
  height: inherit;
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(195, 195, 195);
  border: none;
}

.sort-btn-size-mobile {
  flex-basis: 50%;
  height: inherit;
  border-radius: 0px 10px 10px 0px;
  border: none;
  background-color: rgb(195, 195, 195);
}
.sort-btn-price-mobile.active,
.sort-btn-size-mobile.active {
  background-color: rgb(235, 84, 64);
}

.houses-container-mobile {
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  /* height: 200px; */
  /* background-color: #2b31e2; */
}
.house-card-mobile {
  display: flex;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* background: rgb(134, 7, 7); */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  /* height: 100px; */
}
.houses-image-mobile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}
.houses-info-mobile {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.houses-details-mobile {
  /* display: flex;
    flex-direction: column; */
  text-align: left;
  line-height: 12px;

  height: inherit;
  /* background-color: yellow; */
}
.houses-address-mobile {
  font-size: 12px;
  font-family: "Open sans";
  color: rgb(195, 195, 195);
}
.houses-icons-mobile {
  display: flex;
  align-items: center;

  font-family: "Open sans";
  gap: 7px;
}
.houses-actions-mobile {
  display: flex;
  flex-direction: row;
}
.edit-icon-mobile,
.delete-icon-mobile {
  border: none;
  background: none;
  padding: 5px;
  width: 15px;
  height: 15px;
}
.icon-mobile {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.no-results-mobile {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
position: relative;
  align-items: center;
  justify-content: center;
}
.no-results-content-mobile {
  position: absolute;

  width: 250px;
  height: 50%;
top:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.no-results-mobile img {
  width: 300px;
  height: 200px;
}
.no-results-content-mobile p {
  margin-top: 40px;
}
