.house-form-page-mobile {
  background-image: url(../img_background@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  margin-bottom: 5rem;
}
.house-form-layout-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.edit-listing-container-mobile {
  width: 90%;
}
.navigation-bar-mobile {
  width: 100%;
  height: 3rem;
}
.navigation-form-content-mobile {
  display: flex;
  height: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.back-icon-mobile {
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.form-title-mobile {
  text-align: left;
  width: 400px;
}

.form-mobile {
  max-width: 100%;
  padding-bottom: 4rem;
  margin-top: 10px;
}
.form-group-mobile {
  padding-bottom: 10px;
  padding-top: 10px;
}

.form-group-mobile label {
  display: block;
  padding-bottom: 10px;
}

.input-placeholder-mobile::placeholder {
  color: rgb(195, 195, 195);
  opacity: 1;
}
.form-group-mobile input[type="text"],
.form-group-mobile input[type="number"],
.form-group-mobile input[type="file"] {
  width: 90%;
  padding: 15px 15px;
  border-radius: 5px;
  padding-right: 5%;
  padding-left: 5%;
  border: none;
}
.sub-details-mobile {
  display: flex;
  width: 100%;
}

.sub-details-group-left-mobile {
  flex-basis: 48%;
}
.sub-details-group-right-mobile {
  flex-basis: 48%;
  margin-left: 5%;
}

.sub-details-group-right-mobile select {
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  border: none;
  border-radius: 5px;
}
.form-group-mobile #description {
  border: none;
  border-radius: 10px;
  width: 90%;
  padding: 20px 20px;
  border-radius: 10px;
  padding-right: 5%;
  padding-left: 5%;
}

.custom-file-upload-mobile {
  display: block;
  cursor: pointer;
}
.form-group-image-mobile {
  width: 180px;
  padding-bottom: 20px;
}
.upload-text-mobile {
  display: block;
  padding-bottom: 20px;
  width: 300px;
}

.upload-box-mobile {
  border: 2px dashed #ccc;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.upload-icon-mobile img {
  height: 20px;
}

input[type="file"] {
  display: none;
}
.image-preview-mobile {
  display: flex; /* Align children with flexbox */
  justify-content: center; /* Center the image in the preview */
  align-items: flex-start; /* Align the clear icon at the bottom of the image */
  width: 120px;
  height: 120px;
  margin-bottom: 20px; /* Space from the bottom navigation bar */
}

.image-upload-mobile {
  height: 110px; /* Image fills most of the preview area */
  width: 110px;
  border-radius: 10px; /* Rounded corners */
}

/* Use margin to overlap the clear button over the image.
   This requires knowing the exact dimensions of your elements. */
.clear-icon-mobile {
  margin-left: -25px;
  height: 25px;
  width: 25px;
  cursor: pointer; /* Indicates this is clickable */
  z-index: 1; /* Make sure it's above the image */
}

button {
  background-color: transparent;
  border: none;
}
.submit-button-mobile {
  background: rgb(235, 84, 64);
  color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  max-width: 100%; /* Ensures that the button does not exceed the width of its container */
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box; /* Makes sure padding and borders are included in the width */
  padding: 0; /* Remove any default padding */
  margin: 0; /* Remove any default margin */
}
.error-message-mobile {
  color: rgb(74, 75, 76);
}
.empty-mobile {
  color: rgb(235, 84, 64);
}
.border-red-mobile {
  border: 1px solid rgb(235, 84, 64);
}
@media screen and (max-width: 280px) {
  .edit-listing-container-mobile {
    width: 100%;
  }
  .input-field-mobile {
    font-size: 10px;
  }
  .error-message-mobile {
    font-size: 8px;
  }
}
