.houses-page-mobile {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 246, 246);
  width: 100%;
}
.layout-mobile {
  max-width: max(800px, 80%);
  margin: 0 auto;
  height: 100%;
  width: 100%;
  margin-bottom: 5rem;
}
.top-bar-mobile {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.heading-mobile {
  display: flex;
  margin-top: 1rem;
}
.heading-mobile h1 {
  margin: auto;
  padding-left: 3rem;
}
.create-new-btn-mobile img {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
}
.sorting-mobile {
  width: 100%;
  /* background-color: green; */
}
.search-barInput-mobile {
  margin-top: 20px;
  background-color: rgba(232, 232, 232);
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.search-icon-mobile {
  height: 20px;
  width: 20px;
}
.search-bar-mobile::placeholder {
  color: rgb(195, 195, 195);
}
.search-bar-mobile {
  flex-grow: 1;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}
.search-result-mobile {
  text-align: left;
  width: 300px;
  height: 60px;
}
.clear-class-mobile {
  cursor: pointer;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.clear-class-mobile[style*="display: none;"] {
  display: none;
}
.sort-buttons-mobile {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 50px;
}
.sort-btn-price-mobile,
.sort-btn-size-mobile {
  flex-basis: 50%;
  height: inherit;
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(195, 195, 195);
  border: none;
}

.sort-btn-size-mobile {
  flex-basis: 50%;
  height: inherit;
  border-radius: 0px 10px 10px 0px;
  border: none;
  background-color: rgb(195, 195, 195);
}
.sort-btn-price-mobile.active,
.sort-btn-size-mobile.active {
  background-color: rgb(235, 84, 64);
}

.houses-container-mobile {
  display: flex;
  flex-direction: column;
}
.house-card-mobile {
  display: flex;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.houses-image-mobile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}
.houses-info-mobile {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.houses-details-mobile {
  text-align: left;
  line-height: 12px;
  height: inherit;
}
.houses-address-mobile {
  font-size: 12px;
  font-family: "Open sans";
  color: rgb(195, 195, 195);
}
.houses-icons-mobile {
  display: flex;
  align-items: center;
  font-family: "Open sans";
  gap: 7px;
}
.houses-actions-mobile {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
 
}
.edit-icon-mobile,
.delete-icon-mobile {
  border: none;
  background: none;
  /* padding: 5px; */
  width: 15px;
  height: 15px;

}
.icon-mobile {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.no-results-mobile {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}
.no-results-content-mobile {
  position: absolute;
  width: 250px;
  height: 50%;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.no-results-mobile img {
  width: 300px;
  height: 200px;
}
.no-results-content-mobile p {
  margin-top: 40px;
}
@media screen and (max-width: 540px) {
  .layout-mobile {
    max-width: max(490px, 80%);
    background-color:none;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 5rem;
  }
  /* .houses-actions-mobile {
    display: flex;
 background-color: blue;
 width: 25%;
  
   } */
}

@media screen and (max-width: 430px) {
  .layout-mobile {
    max-width: max(380px, 80%);
    background-color:none;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 5rem;
  }

  /* .houses-actions-mobile {
    display: flex;
 background-color: blue;
 width: 25%;
  
   } */
}

@media screen and (max-width: 414px) {
  .layout-mobile {
    max-width: max(364px, 80%);
    margin: 0 auto;
    height: 100%;
    margin-bottom: 5rem;
  }
  .icon-mobile {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  .edit-icon-mobile,.delete-icon-mobile{
    width: 10px;
    height: 10px;
  }

}
@media screen and (max-width: 390px) {
  .layout-mobile {
    max-width: max(340px, 80%);
    margin: 0 auto;
    height: 100%;
    margin-bottom: 5rem;
  }
  /* .houses-actions-mobile {
    display: flex;
 background-color: blue;
 width: 25%;
  
   } */
   .icon-info-mobile {

    font-family: "open sans";
    font-size: 10px;
  }
  .headertag-second {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 12px;
  }

}

@media screen and (max-width: 375px) {
  .layout-mobile {
    max-width: max(325px, 80%);
       margin: 0 auto;
    height: 100%;
    margin-bottom: 5rem;
  }

}
@media screen and (max-width: 360px) {
  .layout-mobile {
    max-width: max(330px, 80%);
     margin: 0 auto;
    height: 100%;
    margin-bottom: 5rem;
  }
 
 
}
@media screen and (max-width: 280px) {
  .layout-mobile {
    max-width: max(230px, 80%);
     margin: 0 auto;
    height: 100%;
    margin-bottom: 5rem;
  }
  .houses-image-mobile {

    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
  }
  .edit-icon-mobile,
  .delete-icon-mobile {
    border: none;
    background: none;
    margin-top: 5px;
    width: 10px;
    height: 10px;
   
  }
  .houses-actions-mobile {
  
      right: 5px;
      width: 40px;

  }
  .houses-details-mobile {
    text-align: left;
    line-height: 5px;
    height: inherit;
    padding-top: 10px;
  
    }
    .icon-info-mobile {
      
      font-family: "open sans";
      font-size: 10px;
    }
    .listing-info-mobile {
      font-weight: 600;
      font-family: "open sans";
      font-size: 10px;
    }
    .headertag-second {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 10px;
    }
    .headertag-second {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 10px;
    }
 
.icon-mobile {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.houses-address-mobile {
  font-size: 10px;
  font-family: "Open sans";
  color: rgb(195, 195, 195);
}
}