.house-detail-page-mobile {
  position: absolute;
  right: 5px;
  left:5px;
  bottom: 5rem;
  top:5px;
  background-color: rgb(246, 246, 246);
}
.house-details-layout-mobile {
  text-align: left;
}
.house-detailed-layout-mobile {
  display: flex;
  flex-direction: column;
}
.details-layout-mobile {
  flex-basis: 70%;
}
.house-details-mobile {
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.house-image-mobile {
  width: 100%;
  position: relative;
  height: 250px;
}
.image-of-house {
  width: 100%;
  display: block;
  height: 250px;
}
.edit-icons-mobile {
  position: absolute;
  height: 50px;
  top: 20px;
  width: 100%;
  display: flex;
}
.back-icon-mobile {
  flex-basis: 50%;
}
.back-icon-image {
  position: absolute;
  height: 20px;
  top: 3px;
  left: 30px;
  width: 20px;
}
.house-actions-mobile {
 height: inherit;
  margin-left: 50%;
  flex-basis: 50%;
}
.house-details-edit-icon-mobile,
.house-details-delete-icon-mobile {
  margin-right: 20px;
  height: 20px;
  width: 20px;
}
.house-info-mobile {
  padding-left: 2rem;
  border-radius: 20px 20px 0px 0px;
}
.house-titlebar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.house-recommended-mobile {
  padding-left: 30px;
}
.house-location-mobile {
  display: flex;
  gap: 10px;
  margin-top: 0px;
}
.house-area-mobile,
.house-attributes-mobile {
  display: flex;
  padding: 0;
  margin: 0;
}
.house-area-mobile li,
.house-attributes-mobile li {
  list-style: none;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 25px;
}
.house-description-mobile {
  text-align: justify;
}



/* 
@media screen and (max-width: 768px) {
  .house-detail-page {
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 0rem;
    margin-bottom: 5rem;
    height: 100%;
    min-height: 100vh;
   
  }

  .layout {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 0rem;
 

  }

  .house-detailed-layout {
    background-color: #d21e33;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .house-details {
    background-color: blueviolet;
    flex-basis: 70%;
    width: 100%;
  }

  .details-layout {
    width: 100%;
    background-color: hwb(0 12% 18%);

  }

  .navigation-bar,
  .edit-actions-desktop {
    display: none;

  }

  .edit-actions-mobile,
  .back-icon-mobile {
    display: block;
  }

  .house-image {
    position: relative;
    width: 100%;

  }

  .house-image img {
    width: 100%;
    display: block;
    height: 250px;
  }
  .house-info {
    background-color: blue;
    padding-right: none;
    position: relative;
    
     bottom:  3rem;
    padding-left: 2rem;
    border-radius: 20px 20px 0px 0px;
  }
  .edit-icons-mobile {
    position: absolute;
    background-color: chocolate;
    height: 50px;
    top: 10px;
    width: 100%;

  }

  .back-icon-mobile {
    width: 50%;
    background-color: blue;

  }

  .back-icon-mobile img {
    position: absolute;
    height: 20px;
    left: 20px;
    width: 20px;
  }

  .edit-actions-mobile {
    display: flex;
    height: inherit;
    width: 50%;

    background-color: #00ffee;
  }

  .edit-actions-mobile img {
    width: 20px;
    height: 20px;
    gap: 0px;

  }

  .edit {
    width: 20%;
    background-color: #d21e33;
    height: inherit;
    margin-left: 60%;
  }

  .delete {
    width: 20%;
    background-color: #1ed233;
  }



  .edit-icon,
  .delete-icon {
    display: none;
  }



  .house-titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .house-recommended {
    padding-left: 0px;
    flex-basis: 30%;
    background-color: chocolate;
  }

  .house-location {
    display: flex;
    gap: 10px;
    margin-top: 0px;
  }

  .house-area,
  .house-attributes {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .house-area li,
  .house-attributes li {
    list-style: none;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 25px;
  }

  .house-description {
    text-align: justify;
  }

}

@media screen and (max-width: 768px) {}

 */
