.heading-tag {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
}
.headertag-second {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
}
.button-mobile {
  font-family: "Montserrat";
  font-size: 12px;
}
.tabs-mobile {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 12px;
}
.body-text-mobile {
  font-family: "Open Sans";
  font-size: 12px;
}
.input-field-mobile {
  font-family: "Open Sans";
  font-size: 12px;
}
.icon-mobile {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.listing-info-mobile {
  font-weight: 600;
  font-family: "open sans";
  font-size: 12px;
}
label {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
}
.icon-info-mobile {
  font-family: "open sans";
  font-size: 12px;
}
.empty-message-mobile {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
}
.error-message-mobile {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  font-style: italic;
}
