/* Media query for mobile screens */
@media screen and (max-width: 768px)
 {

  .navigation {
   
    height:6rem ;
    width: 100%;
    
  }

  .navigation-content {
    position: static;
 height: 5rem;
 width: 100%;

   
  }

  .logo img {
    height: 1rem; 
  }

  .nav-links {
    flex-direction: column; /* Stack links vertically */
    display: none; /* Hide links initially on mobile */
  }

  .nav-links.mobile-active {
    display: flex; /* Show links when menu icon is clicked */
  }

  .nav-item {
    margin: 0.5rem 0; /* Adjust margin for mobile */
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255,255,255);
   z-index: 100;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;


}

.navigation-content {
  width: 100%;
  max-width: max(800px, 80%); 
   display: flex;
   align-items: center;
  
}


.logo img {
  height: 3rem;
}

.nav-links {
  display: flex;
  align-items: center;
  color:rgb(246,246,246);
}

.nav-links, .nav-item {
  margin-left: 1rem; 
  padding: 0.5rem 1rem; 
  text-decoration: none;
  display: flex;
  align-items: center;
  color:rgb(232,232,232);
}



.nav-links .active-link {
   color:black;
}