.layout {
  max-width: 80%;
  margin: 0 auto;
}
.no-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 32px;
}
h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 22px;
}
button {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
}

.tabs {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
}

.header-active {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
}
.back-button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
}
label {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
}

.header-inactive {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
}
.error-message {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
}
.empty-message {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
}
.input-field {
  font-family: "Open Sans";
  font-size: 14px;
}
.listing-info {
  font-weight: 600;
  font-family: "open sans";
  font-size: 16px;
}
.houses-icons {
  font-size: 18px;
  font-family: "Open sans";
}
.houses-address {
  font-size: 18px;
  font-family: "Open sans";
  color: rgb(195, 195, 195);
}
.body-text {
  font-family: "Open Sans";
  font-size: 18px;
}
.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.mobile-only {
  display: block;
}
